@using Olx.Models
@model Olx.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="OwnerId">
            <input type="hidden" name="allPhotos" value="@string.Join('\n', Model.PhotoUrls)">
            <input type="hidden" asp-for="CategoryId">
            <input type="hidden" asp-for="CreatedAt">
            <input type="hidden" asp-for="City">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea rows="10" class="form-control" asp-for="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId" disabled="disabled"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="photos-container">
                    <h4>Photos</h4>
                    <div class="flex-wrap">
                        @foreach (var photoUrl in Model.PhotoUrls)
                        {
                            <div class="photo-container has-photo">
                                <input type="hidden" name="leftPhotos[]" value="@photoUrl"/>
                                <img src="@photoUrl"/>
                                <div class="delete-panel">
                                    <button class="delete-button"><i class="bi bi-trash3"></i></button>
                                </div>
                            </div>
                        }
                        
                        @if (Model.PhotoUrls.Length < 9)
                        {
                            <div class="photo-input-container">
                                <input type="file" name="photos" accept="image/*"/>
                                <img src="/assets/icons/free-icon-camera-7708970.png"/>
                                <div class="delete-panel">
                                    <button class="delete-button"><i class="bi bi-trash3"></i></button>
                                </div>
                            </div>
                        }
                        
                        @for (int i = Model.PhotoUrls.Length + 1; i < 9; i++)
                        {
                            <div class="photo-container">
                                <input type="file" name="photos" accept="image/*"/>
                                <img src="/assets/icons/free-icon-gallery-964053.png"/>
                                <div class="delete-panel">
                                    <button class="delete-button"><i class="bi bi-trash3"></i></button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <span class="text-danger" asp-validation-for="PhotoUrls"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceType" class="control-label"></label>
                <select asp-for="PriceType" class="form-control" asp-items="ViewBag.PriceType"></select>
                <span asp-validation-for="PriceType" class="text-danger"></span>
            </div>
            <div class="form-group"  style="display: @(Model.PriceType == PriceType.Regular ? "block": "none")">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemState" class="control-label"></label>
                <select asp-for="ItemState" class="form-control" asp-items="ViewBag.ItemState"></select>
                <span asp-validation-for="ItemState" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAutorenewing" /> @Html.DisplayNameFor(model => model.IsAutorenewing)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input name="city-name" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
                <div class="suggestions">
                                </div>
            </div>
            <div id="filters">
                @foreach (var filter in Model.Filters)
                {
                    <div class="form-group @(filter.FilterDeclaration.FilterType == FilterType.Boolean ? "form-check" : "")">
                        @switch (filter.FilterDeclaration.FilterType)
                        {
                            case FilterType.Boolean:
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="@filter.FilterDeclaration.Name" checked="@filter.Value" /> @filter.FilterDeclaration.Name
                                </label>
                            break;
                            case FilterType.Number:
                                <label class="form-label">@filter.FilterDeclaration.Name</label>
                                <input class="form-control" name="@filter.FilterDeclaration.Name" value="@filter.Value" type="number" />
                            break;
                            case FilterType.String:
                                <label class="form-label">@filter.FilterDeclaration.Name</label>
                                <input class="form-control" name="@filter.FilterDeclaration.Name" value="@filter.Value" />
                            break;
                            default:
                                <p class="text-danger">Unknown filter type: @filter.FilterDeclaration.FilterType</p>
                            break;
                        }
                    </div>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
{
    <script src="/js/product.js"></script>
    <script type="text/javascript">
        $(document).ready(() => {
            $('#PriceType').on('change', () => {
                if ($('#PriceType').val() === '0') {
                    $('#Price').css('display', 'block');
                    $('#Price').prev().text('Price');
                } else {
                    $('#Price').css('display', 'none');
                    $('#Price').prev().text('');
                }
            });
            $('.photo-input-container input[type="file"]').on('change', photoUploadHandler);
            $('.photo-input-container').on('click', (e) => {
                $(e.target).children('input').trigger('click');
            });
            $('.photo-input-container img').on('click', (e) => {
                $(e.target).parent().trigger('click');
            });
            $('.delete-button').on('click', deletePhotoHandler);
            $('.suggestion').on('click', suggestionClickHandler);
            $('input[name="city-name"]').on('input', cityInputChanged);
            if ($('input[name="City"]').val() !== '') {
                getCityNameByRef($('input[name="City"]').val());
            }
        });
    </script>
}

@section Styles {
    <link rel="stylesheet" href="/css/product.css"/>
}

